html {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 200;
  font-size: 16px;
  text-align: justify;
  line-height: 1.5;
  padding: 4rem 1rem;
}

.list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.list--ordered {
  counter-reset: list-counter;
  display: block;
}
@media (min-width: 40em) {
  .list--ordered {
    -webkit-columns: 2 auto;
       -moz-columns: 2 auto;
            columns: 2 auto;
    -webkit-column-gap: 2rem;
       -moz-column-gap: 2rem;
            column-gap: 2rem;
  }
}
.list--ordered .list__item {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ddd), to(#ddd));
  background-image: linear-gradient(180deg, #ddd 0%, #ddd 100%);
  background-repeat: no-repeat;
  background-size: 2px 100%;
  background-position: 1rem center;
  display: block;
  min-height: 2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 3rem;
  position: relative;
}
.list--ordered .list__item:nth-child(1)::before {
  background-position: center 10%;
}
.list--ordered .list__item:nth-child(2)::before {
  background-position: center 20%;
}
.list--ordered .list__item:nth-child(3)::before {
  background-position: center 30%;
}
.list--ordered .list__item:nth-child(4)::before {
  background-position: center 40%;
}
.list--ordered .list__item:nth-child(5)::before {
  background-position: center 50%;
}
.list--ordered .list__item:nth-child(6)::before {
  background-position: center 60%;
}
.list--ordered .list__item:nth-child(7)::before {
  background-position: center 70%;
}
.list--ordered .list__item:nth-child(8)::before {
  background-position: center 80%;
}
.list--ordered .list__item:nth-child(9)::before {
  background-position: center 90%;
}
.list--ordered .list__item:nth-child(10)::before {
  background-position: center 100%;
}
.list--ordered .list__item::before {
  background: #0082d5;
  background: -webkit-gradient(linear, left top, left bottom, from(#0082d5), color-stop(50%, #a234d5), to(#d74059));
  background: linear-gradient(180deg, #0082d5 0%, #a234d5 50%, #d74059 100%);
  background-repeat: no-repeat;
  background-size: 2rem 20rem;
  border-radius: 50%;
  color: white;
  content: counter(list-counter);
  counter-increment: list-counter;
  display: block;
  height: 2rem;
  left: 0;
  line-height: 2;
  position: absolute;
  text-align: center;
  width: 2rem;
}